<fieldset>
	<% if(model.id){ %>
        
		<div class="actions clearfix">
			<input type="submit" value="Delete" class="btn danger delete" />
		</div>
		<div class="clearfix">
			<label for="f-id">Id</label>
			<div class="input">
                <!--
				<input id="f-id" class="ff" type="text" value="<%= model.get('id')%>" disabled/>
                -->
                <input class="uneditable-input mini" id="f-id" class="ff" type="text" value="<%= model.get('id')%>" disabled/>
			</div>
		</div>
	<% }else{ %>
		<h1>New user</h1>
	<% } %>
	<div class="clearfix">
		<label for="field-email">Email</label>
		<div class="input">
			<input class="xlarge" id="field-email" name="email" class="ff" type="text" value="<%= model.get('email')%>"/>
		</div>
	</div>
	<div class="clearfix">
		<label for="field-password">Password</label>
		<div class="input">
            <div class="inline-inputs">
                <input class="medium" id="field-password" name="password" class="ff" type="password" value="<%= model.get('password')%>"/>
            </div>
		</div>
	</div>
	<div class="clearfix">
		<label for="field-type">Type</label>
		<div class="input">
			<select id="field-type" name="type">
				<option value="1">(1) Admin</option>
				<option value="2">(2) Customer</option>
				<option value="3">(3) Seller</option>
			</select>
		</div>
	</div>
	<div class="actions">
		<input type="submit" value="Save" class="btn primary save" />
		<a href="#table/Users" class="btn">Cancel</a>
	</div>
</fieldset>
