<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test view</title>
	<script type="text/javascript" src="../lib/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="../lib/underscore.js"></script>
	<script type="text/javascript" src="../lib/backbone.js"></script>
	<script type="text/javascript" src="../app.js"></script>
	<script type="text/javascript" src="AbstractView.js"></script>
	<script type="text/javascript" src="Main.js"></script>
	<script type="text/javascript" src="UserBar.js"></script>
	<script type="text/javascript" src="Content.js"></script>
    
</head>
<body>
	<div id="main"></div>
	<script type="text/javascript">
		var me = new app.view.Main($('#main'));	
	</script>
</body>
</html>
