<table class="zebra-striped">
    <thead>
        <th>Désignation</th>
        <th class="txt-r">Quantité</th>
        <th class="txt-r">Prix maximum</th>
        <th width="37"> </th>
    </thead>
    <tbody>
        <% this.collection.each(function(article, i){ %>    
            <tr>      
                 <td><strong><%= article.get('name') %></strong></td>
                 <td class="txt-r"><%= article.get('quantity') %></td>
                 <td class="txt-r"><%= article.get('price_need') %> €</td>
                 <td>
                     <a class="edit" href="#<%= article.id %>" title="Editer"><img src="img/icon/pencil_icon&16.png" /></a>
                     <a class="delete" title="supprimer" href="#<%= article.id %>"><img src="img/icon/round_delete_icon&16.png" /></a>
                 </td>
            </tr>
        <% }); %>
    </tbody>
    <tfoot>
        <td colspan="4"> <a href="#" class="btn success fl-r">Ajouter un article</a><%= this.collection.size() %> Article(s)</td>
    </tfoot>



</table>
