<div class="row show-grid">
    <div class="span-one-third column" id="demands-list">
        
        <div class="clearfix">
            <div class="input-append">
                <input class="medium" id="search-demand" name="search" size="30" type="text">
                <span class="add-on">Rechercher</span>
            </div>
        </div>
        <br />
        <div class="clr" id="demand-search-result"></div>
    </div>
    <div class="span-two-thirds column" id="demands-details"></div>
</div>