<div>
    <a href="#" class="btn edit fl-r">Editer</a>
    <h3>
        <span class="label"><%= this.model.get('reference')%></span>
        <%= this.model.get('title')%>
    </h3>
    
    <form>
            <div class="fl-l">
                <address>
                    <%= this.model.get('city_code') %><br />
                    <%= this.model.get('city') %>
                </address>
            </div>
            <div class="fl-r">
                <p class="txt-r">
                    Crée : <%= this.model.get('creation_date') %><br />
                    Fin : <%= this.model.get('end_date') %>
                </p>
            </div>
        <div class="clr"></div>

        <h5>Liste des articles :</h5>
        <div id="article-list"></div>
    </form>
    
    
    
    <p class="txt-r">
        <br />
        <a href="#" class="btn danger delete-demand">Supprimer</a>
    <p>
    
</div>