<div class="cols33-65">
    <div class="col33p" id="demands-list">
		<h3>Demandes en cours</h3>
		<div class="hr"></div>
		<br />
        <div class="clearfix">
            <div class="input-append">
                <input class="medium" id="search-demand" name="search" size="30" type="text" title="Rechercher">
                <span class="add-on"><img src="img/icon/zoom_icon&16.png" alt="Rechercher" /></span>
            </div>
            <a href="#" class="btn primary fl-r add-demand">Ajouter une demande</a>
        </div>
        <br />
        <br />
        <div class="clr br"></div>
        <div id="demand-search-result"></div>
    </div>
    <div class="col65p" id="demands-details"></div>
    <div class="clr"></div>
</div>
