<div>
    <h3 class="modal-header"><%= this.model.get('title')%></h3>
    <form class="modal-body">
        <div class="row show-grid">
            <div class="span4">
                <p><%= this.model.get('reference')%></p>
                <address>
                    <%= this.model.get('city_code') %> <%= this.model.get('city') %>
                </address>
            </div>
            <div class="span4">
                <p class="txt-r">
                    Crée : <%= this.model.get('creation_date') %><br />
                    Fin : <%= this.model.get('end_date') %>
                </p>
            </div>
        </div>
        
        <br />
        <br />
        <div id="article-list"></div>
    </form>
    

    <div class="modal-footer">
        <a href="#" class="btn">Editer</a>
        <a href="#" class="btn danger">Supprimer</a>
    </div>
</div>