<div class="cols33-65">
    <div class="col65p">
        <form>
            <h3>Informations générale</h3>
            <fieldset>
                 <div class="clearfix">
                    <label>Nom</label>
                    <div class="input">
                        <input class="xlarge field" name="name" size="30" type="text" value="<%= this.model.get('name') %>" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Numéro SIRET</label>
                    <div class="input">
                        <input class="medium field" name="siret" size="30" type="text" value="<%= this.model.get('siret') %>" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Email</label>
                    <div class="input">
                        <input class="xlarge field" name="mail" size="30" type="text" value="<%= this.model.get('mail') %>" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Téléphone</label>
                    <div class="input">
                        <input class="medium field" name="phone" size="30" type="text" value="<%= this.model.get('phone') %>" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Fax</label>
                    <div class="input">
                        <input class="medium field" name="fax" size="30" type="text" value="<%= this.model.get('fax') %>" />
                    </div>
                </div>
                <div class="clearfix">
                    <label>Adresse</label>
                    <div class="input">
                        <textarea class="xlarge field" name="address" row="3"><%= this.model.get('address') %></textarea>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" class="save-btn btn primary" value="Sauvegarder">
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col33p">
        <h3>Membres de la société</h3>
        <ul class="userlist">
            <% this.collection.each(function( user ){ %>
                <li>
                    <%= user.get('firstname') %> <%= user.get('lastname') %> ( <a href="mailto:<%= user.get('email') %>"><%= user.get('email') %></a> )
                    <%= (user.id == app.model.user.id)? '<i>( vous )</i>' : '' %>
                </li>
            <% }); %>
        </ul>
    </div>

</div>