<div class="box-content">
    <form>
        <br />
        <fieldset>
             <legend>Mon profil :</legend>
             <div class="clearfix">
                <label>Prénom</label>
                <div class="input">
                    <input class="xlarge field" name="firstname" size="30" type="text" value="<%= this.model.get('firstname') %>" />
                </div>
            </div>
            <div class="clearfix">
                <label>Nom</label>
                <div class="input">
                    <input class="xlarge field" name="lastname" size="30" type="text" value="<%= this.model.get('lastname') %>" />
                </div>
            </div>
            <div class="clearfix">
                <label>Email</label>
                <div class="input">
                    <input class="xlarge field" name="email" size="30" type="text" value="<%= this.model.get('email') %>" />
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="save-btn btn primary" value="Sauvegarder">
            </div>
        </fieldset>


    </form>

</div>