
.btn{border:1px solid #ccc;}


.empty-fields{background:#ccc;}

.global-content{
	margin:0 10%;
}

.search-bar{
	padding:10px;
	border-bottom:1px solid #ccc;
}


#user{
	margin:8px 0 30px 0;
	padding:10px;
	float:right;
	-webkit-border-radius:10px;
	background:#eee;
}

#content{
	clear:both;
	padding:10px 0;
	-webkit-border-radius:10px;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
}
