body{background:#ccc;}

.btn{border:1px solid #ccc;}


.empty-fields{background:#ccc;}

.txt-left{text-align:left;}
.txt-right{text-align:right;}

.icon-arrow{

}

.btn-add{
	cursor:pointer;
	margin:8px 20px;
	float:right;
}

.advanced-search{
	display:none;
}

.demand-list{
	
}
.demand-list span{
	float:right;	
	font-size:12px;
	color:#999;
	text-shadow:0 1px 0 #fff;
}
.demand-list p{
	padding-top:4px;
	color:#666;
}

#top-bar{ padding:0.5% 5%; color:#fff; background:#333;-webkit-box-shadow:5px 0 9px rgba(0,0,0,0.4); }
#top-bar a{color:#fff; }

#user{text-align:right;}

#bread-crumb{
}



#content{ }

#demand{padding:2%;}
#demand .data-field{ display:none;border:3px dashed #d1b92d; background:#fffdec; }
#demand .data-field:focus{ outline:none; background:#ece2a7;} 
#demand .data-field-span{ padding:5px;display:inline-block; }
#demand.edit-mode .data-field{ display:inline-block; }
#demand.edit-mode .data-field-span{ display:none; }

#demand h1 span, #demand h1 input,
#demand p span, #demand p input{
	display:inline-block;
	text-align:left;
	padding:2px 5px;
	margin:1px;
}
#demand h1 span,
#demand p span{
	border-color:#fff;
}

#demand p {
	font-size:14px;
	color:#999;
	text-align:right;
}

#demand p input,
#demand p span{display:inline-block;width:170px;}

#demand h1{
	float:left;
	padding:10px;
	font-size:22px;
	font-weight:bold;
}
#demand h1 input{width:300px;}

#demand .article{padding:10px;}
#demand .article li{padding:2px;}
#demand .article .even{background:#edf4fd;}
#demand .article .name{display:inline-block;width:50%;}

input{
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	color:inherit;
}
