
.btn{border:1px solid #ccc;}


.empty-fields{background:#ccc;}

.global-content{
	margin:0 5% 10px 5%;
}

.icon-arrow{

}

.search-bar{
	padding:10px;
	border-bottom:1px solid #ccc;
}
.btn-add{
	cursor:pointer;
	margin:8px 20px;
	float:right;
}

.advanced-search{
	display:none;
}

.demand-list{
	
}
.demand-list span{
	float:right;	
	font-size:12px;
	color:#999;
	text-shadow:0 1px 0 #fff;
}
.demand-list p{
	padding-top:4px;
	color:#666;
}

#user{
	margin:8px 0 30px 0;
	padding:10px;
	float:right;
	-webkit-border-radius:10px;
	background:#ddd;
}

#content{
	clear:both;
}
#demand .data-field{ display:none;background:#eee; } 
#demand .data-field-span{ display:inline-block; }
#demand.edit-mode .data-field{ display:inline-block; }
#demand.edit-mode .data-field-span{ display:none; }

#demand h1 span, #demand h1 input,
#demand p span, #demand p input{
	-webkit-border-radius:5px;
	border:1px solid #aaa;
	display:inline-block;
	text-align:left;
	padding:2px 5px;
	margin:1px;
}
#demand h1 span,
#demand p span{
	border-color:#fff;
}

#demand p {
	font-size:14px;
	color:#999;
	text-align:right;
}
#demand p input,
#demand p span{display:inline-block;width:170px;}

#demand h1{
	float:left;
	padding:10px;
	font-size:22px;
	font-weight:bold;
}
#demand h1 input{width:300px;}

input{
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	color:inherit;
}
