
.ui-layer{ position:fixed;top:0;left:0; height:100%; width:100%; background:rgba(0,0,0,0.5);}
.ui-popup{ position:absolute;top:50%;left:50%; background:#fff; } 

.ui-page{ background:#fff; }
.ui-tab{padding:0 10px;}
.ui-tab li{display:inline-block;}
.ui-tab a{display:inline-block;padding:7px;color:#fff;background:#1865F0;text-decoration:none;}
.ui-tab a:hover{color:#F0EC18}


.ui-search{ padding:10px 5px;border-right:1px solid #ccc;border-bottom:1px solid #ccc; }

.ui-item-list{
}
.ui-item-list .icon-arrow{
	position:absolute;	
	top:30%;
	right:10px;
}
.ui-item-list li{
	background:#eee;
	position:relative;	
	cursor:pointer;
	padding:5px 40px 5px 10px;		
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	
}
.ui-item-list li:hover{
	background:#f7f7f7;
}
.ui-item-list li.active{
	background:#fff;
	border-right:1px solid #fff;
}
.ui-item-list li.loading{

	background:#fff url(ajax-loader.gif) no-repeat 100% 50%;
	border-right:1px solid #fff;
}

